.event-default {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: white;
    background: purple;
    border: 1px solid orange;
    /* margin: 5px; // removed margin as otherwise they don't line up with the pointer date! */
    padding: 5px;
    z-index: var(--event-zIndex);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.event-expanded {
    z-index: var(--event-selected-zIndex);
}

.event-internal-container {
    /** this should be the same size as the internal value */
    display: inline;
    position: relative;
    /* background: gray; */
}

.event-title {
    position: absolute;
    font-family: "Rubik", sans-serif;
    font-size: 5em;
    color: white;
    opacity: 30%;
    height: 100%;
    padding-left: 10px;
    z-index: var(--event-title-zIndex);
    user-select: none;
    cursor: normal;
}

.event-image64-and-label-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 0px;
    overflow: hidden;
}

.event-image64-and-label-image {
    display: flex;
    justify-content: center;
}

.event-image64-and-label-label {
    font-size: 0.7em;
    padding: 0px 5px 5px 5px;
}

.event-selected {
    background-color: rgb(231, 2, 231);
    z-index: var(--event-selected-zIndex);
}

.event-external-link {
    text-decoration: none;
}

.event-icon {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 100vw;
    cursor: pointer;
}

.event-icon:hover {
    background-color: var(--dark-purple);
}

.event-children-expand-click {
    animation-name: event-children-expand;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.event-children-expand-click-backwards {
    animation-name: event-children-collapse;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes event-children-expand {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes event-children-collapse {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
